// Forms

.form {

}

.form__field {
	margin-bottom: $spacing;
}

.form__label {
	padding-bottom: $spacing-xs;
	display: block;
	font-size: 24px;
	font-weight: 300;
}

.form__control {
	width: 100%;
	padding: $spacing-sm $spacing-xs;
	border: 1px solid #ccc;
}

.form__helper {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 0;
}

.form__submit {

}

.form__not-requried {
	display: inline-block;
	font-size: 12px;
	vertical-align: baseline;
}